{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [
      1,
      "double"
    ],
    "no-console": "off",
    "operator-linebreak": "off",
    "comma-dangle": "off"
  }
}