{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [1, "double"],
    "no-console": "off",
    "comma-dangle": "off",
    "no-undef": "off",
    "arrow-parens": "off",
    "no-shadow": "off"
  }
}
